@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* font family  */
.ff_rubik {
  font-family: "Rubik", sans-serif;
}
/* container  */
.my_container {
  max-width: 1164px !important;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
:root {
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-3xl: 28px;
  --fs-4xl: 40px;
  --fs-5xl: 48px;
  --fs-7xl: 180px;
  --clr-blue: #95d8eb;
  --clr-blue37: #378ebb;
  --clr-white: #fff;
  --bg-body: #000;
  --animate-delay: 3s !important;
}
/* font sizes  */
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_4xl {
  font-size: var(--fs-4xl);
}
.fs_5xl {
  font-size: var(--fs-5xl);
}
.fs_7xl {
  font-size: var(--fs-7xl);
}
/* colors  */
.color_blue {
  color: var(--clr-blue);
}
.clr_blue37 {
  color: var(--clr-blue37);
}
.clr_white {
  color: var(--clr-white);
}
.color_white {
  color: White;
}
.color_light {
  color: rgba(255, 255, 255, 0.7);
}
/* background color  */
.bg_body {
  background-color: var(--bg-body);
}
@media (max-width: 1200px) {
  :root {
    --fs-3xl: 27px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-md: 14px;
    --fs-5xl: 36px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-3xl: 25px;
    --fs-7xl: 150px;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xl: 16px;
    --fs-5xl: 30px;
    --fs-7xl: 100px;
  }
}
@media (max-width: 480px) {
  :root {
    --fs-xl: 14px;
    --fs-md: 14px;
    --fs-lg: 13px;
    --fs-4xl: 30px;
    --fs-5xl: 19px;
    --fs-3xl: 22px;
    --fs-7xl: 80px;
  }
}
