* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
/* opacity  */
.opacity_07 {
  opacity: 0.7;
}
.opacity_09 {
  opacity: 0.9;
}
.opacity_03 {
  opacity: 0.3;
}
/* max -width */
.mw_405 {
  max-width: 405px;
}
.mw_246 {
  max-width: 246px;
}
.mw_724 {
  max-width: 724px;
}
/* padding */
.pt_36 {
  padding-top: 36px;
}
.py_38 {
  padding-top: 38px;
  padding-bottom: 38px;
}
.pb_20{
  padding-bottom: 20px;
}
.pb_31{
  padding-bottom: 31px;
}
/* margin */
.mb_15 {
  margin-bottom: 15px;
}
.mt_34 {
  margin-top: 34px;
}
