.footer_bg {
  background-image: url(./assets/images/webp/footer_bg.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.color_sky {
  color: #95d8eb;
}
.bg_pro {
  border-image-source: linear-gradient(
    136.39deg,
    #0076be 3.65%,
    #48bf91 89.63%
  );
}

.bg_pro {
  position: relative;
  padding: 3px;
  background: linear-gradient(
    140.61deg,
    rgba(255, 255, 255, 0) -1.87%,
    rgba(255, 255, 255, 0) 105.41%
  );
  border-radius: 15.716px;
  background: linear-gradient(
    136deg,
    rgba(0, 118, 190, 0.05) 0%,
    rgba(72, 191, 145, 0.05) 100%
  );
  backdrop-filter: blur(28.484941482543945px);
}

.bg_pro::after {
  content: "";
  position: absolute;
  border-radius: 16px;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  padding-left: 3px;
  padding-right: 3px;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.color_whitelight {
  color: rgb(179, 181, 181);
}
.shadow {
  margin-top: -15px;
}
:hover.hover_pro {
  transform: translateY(-30px);
}
.sec_shadow {
  height: 384px;
  width: 384px;
  background: linear-gradient(140.69deg, #48bf91 11.98%, #8bd9c7 83.25%);
  filter: blur(151px);
  opacity: 0.5;
  position: absolute;
  bottom: -70%;
  left: -10%;
}
