/* ============================================================SEC1============================================================================ */
.greenlinepera::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  border-radius: 7px;
  width: 5px;
  height: 100%;
}
.color_white90 {
  color: rgba(255, 255, 255, 0.904);
}

.mh_341px {
  min-height: 341px;
}

.mw_881px {
  max-width: 881px;
}
.secpera {
  border-image-source: linear-gradient(
    136.39deg,
    #0076be 3.65%,
    #48bf91 89.63%
  );
}
.bg_lg_blue {
  background: linear-gradient(rgba(0, 118, 190, 1), rgba(72, 191, 145, 1));
}
.secpera {
  position: relative;
  background: linear-gradient(
    140.61deg,
    rgba(255, 255, 255, 0) -1.87%,
    rgba(255, 255, 255, 0) 105.41%
  );
  border-radius: 4px;
  background: linear-gradient(
    136deg,
    rgba(0, 118, 190, 0.05) 0%,
    rgba(72, 191, 145, 0.05) 100%
  );
  backdrop-filter: blur(28.484941482543945px);
}

.secpera::after {
  content: "";
  position: absolute;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  inset: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.peracenter_shadow {
  width: 269px;
  height: 39px;
  background: linear-gradient(133.98deg, #0076be 11.95%, #95d8eb 100%);
  opacity: 50%;
  filter: blur(50px);
  position: absolute;
  top: 50%;
  right: 30%;
}

.blue_ellipse {
  height: 287px;
  width: 287px;
  border-radius: 50%;
  background-color: rgba(0, 118, 190, 1);
  filter: blur(80px);
  opacity: 40%;
  position: absolute;
  bottom: 0%;
  right: -5%;
  z-index: 2 !important;
}
.blue_ellipse2 {
  height: 287px;
  width: 287px;
  border-radius: 50%;
  background-color: rgba(0, 118, 190, 1);
  filter: blur(80px);
  opacity: 40%;
  position: absolute;
  top: 20%;
  right: -5%;
}
.green_ellipse {
  height: 384px;
  width: 384px;
  border-radius: 50%;
  background: linear-gradient(140.69deg, #48bf91 11.98%, #8bd9c7 83.25%);
  filter: blur(80px);
  opacity: 40%;
  position: absolute;
  bottom: 35%;
  left: -10%;
}

/* =============================================================products======================================================================= */
.color_sky {
  color: #95d8eb;
}
.bg_pro {
  border-image-source: linear-gradient(
    136.39deg,
    #0076be 3.65%,
    #48bf91 89.63%
  );
}

.bg_pro {
  position: relative !important;
  /* padding: 3px; */
  background: linear-gradient(
    140.61deg,
    rgba(255, 255, 255, 0) -1.87%,
    rgba(255, 255, 255, 0) 105.41%
  );
  border-radius: 15.716px;
  background: linear-gradient(
    136deg,
    rgba(0, 118, 190, 0.05) 0%,
    rgba(72, 191, 145, 0.05) 100%
  );
  backdrop-filter: blur(28.484941482543945px);
}

.bg_pro::after {
  content: "";
  position: absolute !important;
  border-radius: 16px;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  padding-left: 3px;
  padding-right: 3px;
  inset: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}
.color_whitelight {
  color: rgb(179, 181, 181);
}
.shadow {
  margin-top: -15px;
}
:hover.hover_pro {
  transform: translateY(-30px);
}
.sec_shadow {
  height: 384px;
  width: 384px;
  background: linear-gradient(140.69deg, #48bf91 11.98%, #8bd9c7 83.25%);
  filter: blur(151px);
  opacity: 0.5;
  position: absolute;
  bottom: -10%;
  left: -10%;
}
.transition_300ms {
  transition: 300ms;
}
.proshadow {
  width: 111px;
  height: 22px;
  background: linear-gradient(136.39deg, #0076be 3.65%, #48bf91 89.63%);
  filter: blur(15px);
  opacity: 30%;
}

/* ==================================================================footer================================================================ */
.footer_bg {
  background-image: url(./assets/images/webp/footer_bg.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.footer_ul li {
  padding-bottom: 11px;
}
.footer_ul li a {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
.op_70 {
  opacity: 70%;
}
.footerline {
  background-color: rgba(255, 255, 255, 0.703);
  min-height: 1px;
  width: 100%;
}
.ws_nowrap {
  white-space: nowrap;
}
.curser_pointer {
  cursor: pointer;
}
.icons_hover:hover {
  transform: scale(1.2);
}
/* =============================================FAQS================================================================== */
.accordion-item:first-of-type .accordion-button {
  color: white;
  background-color: transparent !important;
}
.accordion-item .accordion-button {
  background-color: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.accordion-body {
  background-color: transparent !important;
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: white;
}
.accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/up_arrow.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/down_arrow.svg) !important;
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-btn-padding-x: 0px !important;
  --bs-accordion-body-padding-x: 0px !important;
  position: relative !important;
  z-index: 6 !important;
  --bs-accordion-inner-border-radius: 0 !important;
}
.accordion-item {
  background-color: transparent !important;
  z-index: 2 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.307) !important ;
}
.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: transparent !important;
}
div.accordion-body {
  padding-top: 0;
}

.Accordion {
  --bs-accordion-btn-active-icon: url(./assets/images/svg/down_arrow.svg) !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/up_arrow.svg) !important;
}
.accordion-button::after {
  margin-top: 12px;
}

.mw_473px {
  max-width: 473px;
}
.faqimg{
  position: relative;
  top: 0% !important;
  left: -30%;
 
}
/* ==========================================Media Quries============================================================= */
@media (max-width: 992px) {
  .mb_70px {
    margin-bottom: 20px;
  }
  .blue_ellipse {
    height: 187px;
    width: 187px;
  }
  .blue_ellipse2 {
    height: 187px;
    width: 187px;
  }
  .green_ellipse {
    height: 50px;
    width: 50px;
  }
}
.overflow_x_hidden {
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .mb_70px {
    margin-bottom: 20px;
  }
  .blue_ellipse {
    height: 187px;
    width: 187px;
  }
  .blue_ellipse2 {
    height: 187px;
    width: 187px;
  }
  .green_ellipse {
    height: 184px;
    width: 184px;
  }
  .sec_shadow {
  height: 184px;
  width: 184px;
  bottom: -2%;
}
.footer_bg{
  background-size: cover;
}
}