.ravi {
  display: none;
}
/* color  */
.linear_skyblue_color {
  background: var(
    --linear-colors-linear-1,
    linear-gradient(134deg, #0076be 0%, #95d8eb 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* max width  */
.mw_899 {
  max-width: 899px;
}
.mw_805 {
  max-width: 805px;
}
.mw_422 {
  max-width: 422px;
}
.mw_561 {
  max-width: 561px;
}
.mw_1135 {
  max-width: 1135px !important;
}
/* height  */
.min_h_300 {
  min-height: 300px;
}
.h_54 {
  height: 54px;
}
.h_150 {
  height: 150px;
}
/* input  */
.input_form {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.02);
}
::placeholder {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: var(--fs-md);
  color: #fff !important;
  opacity: 0.7;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
input {
  margin: 0 !important;
  padding: 0 !important;
}
/* dropdown  */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.02);
  width: 100%;
  height: 54px;
  margin-top: -3px;
  padding: 12px 12px;
  z-index: 1;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: var(--fs-md);
  color: #fff !important;
  opacity: 0.7;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* circle  */
.big_circle_blue {
  border-radius: 50%;
  opacity: 0.3;
  background: #0076be;
  filter: blur(139px);
  width: 411px;
  height: 411px;
  position: absolute;
  bottom: -15%;
  left: 10%;
}
.splide__pagination {
  display: none !important;
}
/* services section  */
.Services_card {
  background: transparent;
  border-radius: 20px;
  padding: 30px;
  height: 100%;
  cursor: pointer;
  background-image: url("./assets/images/png/services-card-shade.png") !important;
  background-size: 100% 100%;
  background-position-y: 100% !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.Services_card:hover {
  scale: 0.9;
}
.Services_bg {
  background-image: url("./assets/images/webp/slider-bg-img.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 144px 0px;
}
.Services_icons {
  margin: 0 auto !important;
  max-width: 75px !important;
}
.right_arrow:before,
.left_arrow:before {
  font-size: 50px !important;
  opacity: 1 !important;
}
.right_arrow:before {
  content: url("./assets/images/svg/right-arrow.svg") !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.left_arrow:before {
  content: url("./assets/images/svg/left-arrow.svg") !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.left_arrow {
  left: -58px !important;
}
.right_arrow {
  right: -58px !important;
}
.right_arrow:hover:before {
  content: url("./assets/images/svg/right-hover-arrow.svg") !important;
}
.left_arrow:hover:before {
  content: url("./assets/images/svg/left-hover-arrow.svg") !important;
}
#splide01 {
  padding: 0 !important;
}
#splide02 {
  padding: 0 !important;
}
.card_ellipse {
  fill: var(--white, #fff);
  opacity: 0.15;
  filter: blur(12px);
  width: 111px;
  height: 22px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.splide__track--draggable {
  overflow: hidden !important;
  position: relative;
  z-index: 1;
}
.top_300 {
  top: 300px;
}
.right_-100 {
  right: -100px;
}

/* about us accordian  */
.about_us .accordion-button {
  background: black !important;
  padding: 0 9px 4px 0 !important;
  align-items: start !important;
}
.about_us .accordion-body {
  padding: 0 0 0 38px !important;
}
.about_us .accordion-button:focus {
  box-shadow: none !important;
}
.about_us .accordion-item .accordion-button {
  font-size: var(--fs-xl) !important;
  color: white !important;
  font-family: "rubik" !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
}
.about_us .accordion-item {
  border: none !important;
  margin: auto;
  margin-top: 12px;
  background-color: black !important;
  padding: 13px 16px;
}
.about_us .accordion-item:last-of-type {
  border-radius: 4px !important;
}
.about_us .accordion-button::after {
  background-image: url(./assets//images//svg//about_us_arrow.svg) !important;
}
.about_us .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.about_us .accordion_border {
  background: black;
  border-radius: 6px;
  border: transparent;
  position: relative;
  border: 2px solid #08293c;
}
.accordion_border:hover {
  border: 2px solid #6ca0b0;
}
@media (min-width: 1400px) {
  .position_absolute {
    position: absolute;
  }
}
@media (max-width: 1250px) {
  .left_arrow {
    left: 40% !important;
  }
  .right_arrow {
    right: 40% !important;
  }
  .top_1250 {
    top: 650px;
  }
}
@media (max-width: 1200px) {
  .top_1250 {
    top: 750px;
  }
}
@media (max-width: 992px) {
  .top_1250 {
    top: 700px;
  }
}
@media (max-width: 768px) {
  .top_1250 {
    top: 520px;
  }
}
@media (max-width: 576px) {
  .top_1250 {
    top: 560px;
  }
}
@media (max-width: 500px) {
  .top_1250 {
    top: 560px;
  }
  .left_arrow {
    left: 20% !important;
  }
  .right_arrow {
    right: 20% !important;
  }
}
@media (max-width: 420px) {
  .top_1250 {
    top: 650px;
  }
  .left_arrow {
    left: 20% !important;
  }
  .right_arrow {
    right: 20% !important;
  }
}
@media (max-width: 360px) {
  .top_1250 {
    top: 720px;
  }
}
